*

!/fish/functions/dave.fish
!/fish/functions/dev.fish
!/fish/functions/g.fish
!/fish/config.fish

!/alfred/**
!/vim/**

!/karabiner/karabiner.json
!spacehammer.fnl
!Keyboard Maestro Macros.kmsync
!com.amethyst.Amethyst.plist

!.gitconfig

!install.sh
!.gitignore
