*

!/fish/functions/dave.fish
!/fish/functions/dev.fish
!/fish/functions/g.fish
!/fish/config.fish
!/iterm2/**
!/vim/**
!.gitconfig

!/alfred/**

!/karabiner/karabiner.json
!spacehammer.fnl
!Keyboard Maestro Macros.kmsync
!com.amethyst.Amethyst.plist

!install.sh
!.gitignore
