<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2CF8B807-5680-4D91-B1B4-6921DE30C28F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>y</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Yelp Short URLs</string>
			<key>url</key>
			<string>http://y/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>507721FA-40E7-4B2F-87DA-2F19273D501C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>review</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Review Board</string>
			<key>url</key>
			<string>http://reviewboard.yelpcorp.com/r/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9CC9E92B-3EAC-4A0C-BB6C-E495915177B7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ysf</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Yelp SF</string>
			<key>url</key>
			<string>http://www.yelp.com/search?find_desc={query}&amp;find_loc=san+francisco%2C+ca&amp;ns=1#find_desc=food&amp;find_loc=140+New+Montgomery+St,+San+Francisco,+CA</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C25302A2-C023-4601-9D90-D8E0BD3F1CAA</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>con</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Confluence</string>
			<key>url</key>
			<string>https://confluence.yelpcorp.com/dosearchsite.action?queryString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C4977515-1B85-417F-9C3F-0F4D94CF885B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>JIRA</string>
			<key>url</key>
			<string>https://jira.yelpcorp.com/secure/QuickSearch.jspa?searchString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CD3F6786-EA6D-45A0-85D1-E56ADAC4DD16</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jql</string>
			<key>text</key>
			<string>JIRA JQL</string>
			<key>url</key>
			<string>https://jira.yelpcorp.com/issues/?jql={query}%20ORDER%20BY%20updated%20DESC</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CD5964AF-306A-4675-B6CC-A37E4ABCA20A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>workday</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Workday</string>
			<key>url</key>
			<string>https://wd5.myworkday.com/yelp/d/search.htmld?q=worker%3A{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CFB47B35-92E7-47A7-832D-8C86BD834107</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sg</string>
			<key>text</key>
			<string>Source Graph</string>
			<key>url</key>
			<string>https://sourcegraph.yelpcorp.com/search?q=%27{query}%27</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CFD60D5B-39A3-4F84-B2C4-8480A3B3E72A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>id</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Encrypt/decrypt ID</string>
			<key>url</key>
			<string>https://admin.yelp.com/ids/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
